<footer class="custom-footer">
    <div class="container text-center">
        <p>© 2024 Blog Service. All rights reserved.</p>
        <p>Created by Me | Contact: 010-1234-5678</p>
    </div>
</footer>
</body>
</html>